{
  "openapi": "3.0.1",
  "info": {
    "title": "Certificate API",
    "description": "API for creating vault certificates and validating company consent",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cert.formcertify.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/{certificate_id}/v1/vault": {
      "post": {
        "description": "Vault a certificate to retain it for 5 years",
        "parameters": [
          {
            "name": "certificate_id",
            "in": "path",
            "description": "ID of certificate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Vault certificate data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Vault certificate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{certificate_id}/v1/validate": {
      "post": {
        "description": "Validate your company received one-to-one consent",
        "parameters": [
          {
            "name": "certificate_id",
            "in": "path",
            "description": "ID of certificate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Validation data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Validation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/optoutai/messages": {
      "post": {
        "servers": [
          {
            "url": "https://api.formcertify.com"
          }
        ],
        "description": "Evaluate opt-out request",
        "requestBody": {
          "description": "Opt-out message",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OptOutRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Opt-out processed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OptOutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VaultRequest": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Identifier used to associate a certificate to a contact/lead in your system"
          }
        }
      },
      "VaultResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Message from the API"
          },
          "expires_at": {
            "type": "string",
            "description": "Timestamp when the vault certificate will expire"
          }
        }
      },
      "ValidateRequest": {
        "type": "object",
        "required": ["company_name"],
        "properties": {
          "company_name": {
            "type": "string",
            "description": "Company name to validate. Case insensitive."
          }
        }
      },
      "ValidateResponse": {
        "type": "object",
        "properties": {
          "consent_received": {
            "type": "boolean",
            "description": "Whether the company received consent"
          },
          "company_name": {
            "type": "string",
            "description": "The validated company name"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "OptOutRequest": {
        "type": "object",
        "required": ["message"],
        "properties": {
          "message": {
            "type": "string",
            "description": "Opt-out message"
          },
          "identifier": {
            "type": "string",
            "description": "System identifier for reference (e.g. twilio_sid, message_id)"
          }
        }
      },
      "OptOutResponse": {
        "type": "object",
        "properties": {
          "optout_detected": {
            "type": "boolean",
            "description": "Whether an opt-out was detected"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "API-KEY"
      }
    }
  }
}