{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cert.formcertify.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/{certificate_id}": {
      "post": {
        "description": "Creates a new plant in the store",
         "parameters": [
           {
            "name": "certificate_id",
            "in": "path",
            "description": "ID of certificate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewCertificate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
  },
  "components": {
    "schemas": {
      "NewCertificate": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Certificate"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Certificate": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "vault": {
            "description": "Vault certificate for 5 years",
            "type": "object",
            "properties": {
              "identifier": {
                "description": "Identifier used to associate a certificate to a contact/lead in your system. Good examples are a contact id or CRM URL. This is displayed in the certificate.",
                "type": "string"
              },
              "provider": {
                "description": "Internal reference of what company provided the lead. This will not show in the certificate",
                "type": "string"
              },
            }
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header"
        "name": "X-API-KEY"
      }
    }
  }
}