{
  "openapi": "3.0.1",
  "info": {
    "title": "Certificate API",
    "description": "API for creating vault certificates and validating company consent",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://cert.formcertify.com"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/{certificate_id}/vault": {
      "post": {
        "description": "Creates a vault certificate for storing consent",
        "parameters": [
          {
            "name": "certificate_id",
            "in": "path",
            "description": "ID of certificate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Vault certificate data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VaultRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Vault certificate created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VaultResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/{certificate_id}/validate": {
      "post": {
        "description": "Validates company consent for a certificate",
        "parameters": [
          {
            "name": "certificate_id",
            "in": "path",
            "description": "ID of certificate",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Validation data",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Validation successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VaultRequest": {
        "type": "object",
        "properties": {
          "identifier": {
            "type": "string",
            "description": "Identifier used to associate a certificate to a contact/lead in your system"
          }
        }
      },
      "VaultResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "Message from the API"
          },
          "expires_at": {
            "type": "string",
            "description": "Timestamp when the vault certificate will expire"
          }
        }
      },
      "ValidateRequest": {
        "type": "object",
        "required": ["company_name"],
        "properties": {
          "company_name": {
            "type": "string",
            "description": "Company name to validate. Case insensitive."
          }
        }
      },
      "ValidateResponse": {
        "type": "object",
        "properties": {
          "consent_received": {
            "type": "boolean",
            "description": "Whether the company received consent"
          },
          "company_name": {
            "type": "string",
            "description": "The validated company name"
          }
        }
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-KEY"
      }
    }
  }
}